* {
    padding: 0px;
    margin: 0px;
}

.cool-beans > h1{
    display: flex;
}

[id] {
    display: block;
}

div:first-child{
    color: antiquewhite;
}



/* control+/ is comments 
* all elements - everything
. means class selector
nothing means tag selector
[] means attribute selector
# means id selector
: pseudo class selector
*/