  ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #f2f2f2;
    border-radius: 10px;
  }

  ul.techList{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
}
  
  li.menu {
    float: left;
  }
  
  li a.menu {
    display: block;
    background-color: #cccccc;
    width: 100px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 2px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
  }
  
  /* Change the link color on hover */
  li a.menu:hover {
    background-color:#0077dfe5;
    color: white;
  }
  
  li.menu:last-child {
    border-right: none;
  }

  /* Class for whether the button is the active page */
  li a.active {
    background-color: #0076df;
    color: white;
  }

  h1{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 3rem;
    line-height: 2.4rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  h2{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 1.7rem;
    line-height: 1rem;
    font-weight: 500;
  }

  b{
    font-weight:550;
  }