.container div:nth-child(1){
    background-color: red;
    height: 50px;
    order: 2;
}

.container div:nth-child(2){
    background-color: orange;
    height: 75px;
    order: 4;
    flex-grow:3;
}

.container div:nth-child(3){
    background-color: yellow;
    height:150px;
    order:1;
}

.container div:nth-child(4){
    background-color: green;
    height: 120px;
    order: 3;
    flex-shrink: 3;
}

.container div:nth-child(5){
    background-color: blue;
    height: 130px;
    order:6;
}

.container div:nth-child(6){
    background-color: purple;
    order:5;
}

.container div{
    /* width: 50%; */
    width: 50px;
    padding: 50px;
    margin: 5px;
    color: white;
    text-align: center;
    font-size: 50pt;
    font-weight: bolder;
}

.container{
    height: 400px;
    display:flex;
    /*flex-direction: row-reverse;*/
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    /* align-items: center; */
    /* align-items: baseline; */
}