body{
    background-color: antiquewhite
}

ul{
    list-style-type: none;
    background-color: #cccccc
}

ul li:nth-child(3){
    background-color: #6d7e8f;
    padding: 10px;
    margin: 25px;
}

ul li{
    border-style:solid;
    border-color:black;
    border-width: 2px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

a{
    color: purple;
    text-decoration: none;
    /*removes the underline*/
}

a:visited{
    color: rgb(255, 0, 0)

}

/* p{
    display: none;

} */


/*use development tools with RC Willey when adjusting sizes of things*/